*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F7FEFF;
    font-size: 20px;
    font-family: sans-serif;
}

h1{
    font-size: 250%;
    margin-bottom: 20px;
    border-bottom: 2px solid cyan;
}

article{
    width: 60vw;
    margin: 0 auto;
    padding: 40px;
}

img{
    width: 100%;
    border-radius: 10px;
}

p{
    margin-bottom: 10px;
}


div{
    width: 20px;
    height: 200px;
    margin-top: 40px;
}

header{
    background-color: #003C81;
    height: 60px;
    color: white;
    margin: 0 auto;
    padding-left: 100px;
}

.language{
    bottom: 60px;
    left: 100px;
}

footer{
    background-color: #0D2546;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
}

footer > p{
    width: 60vw;
    margin: 0 auto;
    padding-left: 40px;
    margin-bottom: 0;
}

#naam{
    width: 35%;
    height: auto;
    width: 30%;
}

#parel{
    width :100%;
    height: 250px;
    font: left;
    display: flex;
    border: 4px solid rgba(188, 255, 249, 0.993);
    border-radius: 12px;
}

@media screen and (max-width:1000px) {
    article{
        width: 80vw;
    }
    footer > p{
        width: 80vw;
    }
    img:hover{
        transform: none;
    }
}

@media screen and (max-width:600px) {
    body{
        font-size: 16px;
    }
    article{
        width: 100vw;
        padding: 20px;
    }
    footer > p{
        width: 100vw;
        padding: 20px;
    }
}